**/bin
**/obj
.git
.gitignore
.vs
.vscode
.idea
README.md
Dockerfile*
docker-compose*
.env
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.*.local.json
secrets.json
*.pfx
*.p12
*.pem
*.key
