SQL_PASSWORD=
REDIS_CONNECTION_STRING=
JWT_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
STAFF_EMAIL=
STAFF_PASSWORD=
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=http://localhost:8081/payments/return
PAYOS_CANCEL_URL=http://localhost:8081/payments/cancel
